/* Este es un archivo de ejemplo para el nombramiento de los archivos css.
Estos llevan primero el nombre del componente (contact, news, home, etc) y luego style. */

/* Toda clase css es en minúscula y separada por guiones. Por ejemplo: landing-style */

.contact-form{
    box-shadow: 0px 4px 4px rgba(255, 225, 225, 0.25);
}

.contact-input{
    @apply bg-black font-jost p-2 px-4 2xl:w-[550px] xl:w-[500px] sm:w-[400px] w-[300px] rounded-md border border-white-option text-white-option placeholder:text-white-option
}


.contact-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.contact-select select::-ms-expand {
    display: none;
}

.contact-select{
	position: relative;
}
 
.contact-select select{
    @apply bg-black font-jost transition-all ease-linear duration-700 relative inline-block cursor-pointer w-[200px] p-2 px-4 rounded-md border border-white-option text-white-option placeholder:text-white-option
}
 

.contact-select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:3px solid rgba(255, 255, 255, 0.41);
	border-bottom:3px solid rgba(255, 255, 255, 0.41);
	transform: rotate(-45deg);
	transition: all 0.25s ease;
}
 
.contact-select:hover i{
	margin-top: 3px;
}

.contact-picture-shadow{
	background: radial-gradient(46% 46% at 54% 55%, rgba(168, 224, 7, 0.5) 0%, rgba(103, 211, 185, 0) 100%);
}

