.home-bg{
  @apply w-full h-screen relative;
  background: linear-gradient(180deg, #131318 0%, #26252A 78.65%);
}

.home-layout{
  @apply w-full flex h-full items-center relative 
}

.home-wsd-layout{
  animation-name: show-title-layout;
  animation-duration: 3s;
  animation-delay: 0ms;
}

@keyframes show-title-layout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-image-layout{
  @apply absolute right-0 w-[1024px] overflow-hidden;
  animation-name: show-image-layout; 
  animation-duration: 1.5s;
  animation-delay: 0ms;
}

@keyframes show-image-layout {
  0% {
    opacity: 0;
    transform: translateY(-100%)
  }
  100% {
    opacity: 1;
    transform: translateY(0%)
  }
}

.home-image-layout img{
  @apply w-full
}

.home-subtitle-layout {
  @apply mt-10
}

.home-title-layout, .home-subtitle-layout {
  @apply flex flex-col
}

.home-title-font{
  @apply bg-gradient-to-r from-pure-white to-[#00B1F5] bg-clip-text font-palanquin-dark font-bold text-[86px] leading-tight;
  -webkit-text-fill-color: transparent;
}

.home-subtitle-font{
  @apply font-jost text-[40px] text-white font-normal
}

.home-contact-layout {
  @apply mt-16
}

.home-contact-button{
  @apply bg-primary w-80 h-16 text-pure-white font-palanquin-dark font-bold text-4xl rounded-[30px] transition-all
}

.home-contact-button:hover{
  background-color: #03a0d0;
}

.home-contact-button:active{
  background-color: #04a9dc;
}

.home-quotation-layout {
  @apply mt-16 hidden
}

.home-quotation-button {
  @apply w-[194px] h-[45px] bg-primary-option font-jost font-semibold text-[28px] rounded-[10px]
}

.home-icon-wss {
  @apply fixed right-10 bottom-10 w-16 h-16
}


/* media queries adicionales */

@media (max-width:1900px) {
  .home-image-layout {
    @apply w-[900px]
  }
}

@media (max-width:1760px) {
  .home-image-layout {
    @apply w-[800px]
  }
}

@media (max-width:1680px) {
  .home-image-layout {
    @apply w-[700px]
  }
}

@media (max-width:1570px) {
  .home-image-layout {
    @apply w-[600px]
  }
}

@media (max-width:1390px) {
  .home-image-layout {
    @apply w-[530px]
  }
  .home-title-font {
    @apply text-[75px]
  }
}


@media (max-width:1220px) {
  .home-image-layout {
    @apply w-[480px]
  }
  .home-title-font {
    @apply text-[70px]
  }
}

@media (max-width:1170px) {
  .home-image-layout {
    @apply w-[420px]
  }
}
@media (max-width:1070px) {
  .home-image-layout {
    @apply w-[357px]
  }
  .home-wsd-layout {
    @apply w-[50px] h-[50px]
  }
}

@media (max-width:980px) {
  .home-image-layout {
    @apply hidden
  }
  .home-layout {
    @apply justify-center
  }
  .home-wsd-layout {
    @apply flex flex-col items-center
  }
  .home-title-layout, .home-subtitle-layout  {
    @apply items-center;
  }
}

@media (max-width:650px) {
  .home-title-font {
    @apply text-6xl
  }
  .home-subtitle-font {
    @apply text-3xl
  }
}

@media (max-width:550px) {
  .home-title-font {
    @apply text-5xl text-center
  }
  .home-subtitle-font {
    @apply text-3xl text-center
  }
  .home-contact-button {
    @apply w-[239px] h-[52px] text-[24px]
  }
  .home-wsd-layout {
    @apply w-[30px] h-[30px]
  }
}

@media (max-width:360px) {
  .home-subtitle-font {
    @apply text-2xl
  }
}
