@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Jost:wght@300;400;500;600&family=News+Cycle:wght@400;700&family=Palanquin+Dark:wght@400;500;600;700&display=swap');
/* 
  - Para las diferentes fuentes
  font-family: 'Inter', sans-serif;
  font-family: 'Jost', sans-serif;
  font-family: 'News Cycle', sans-serif;
  font-family: 'Palanquin Dark', sans-serif;
 */
body {
  @apply m-0 relative
}

.container-screen {
  @apply max-w-[1920px] mx-[156px] px-5 
}

@media (max-width:1440px) {
  .container-screen {
    @apply mx-[116px]
  }
}

@media (max-width:1280px) {
  .container-screen {
    @apply mx-[98px] 
  }
}

@media (max-width:1024px) {
  .container-screen {
    @apply mx-[75px] 
  }
}

@media (max-width:560px) {
  .container-screen {
    @apply mx-[15px] /*px-0*/
  }
}